p {
    /* float: right; */
    color: red;
    font-size: 32px;
}

.p1 {
    color: blue;
    width: 50%;
    border: solid blue 1px;
}


/* .p1 {
    color: yellow;
} */

.container {
    width: 700px;
    border: solid 3px red;
}