body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}

.section-1 {
    background: url("pexels-photo-248515.png");
    /* background-size: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: blur(2px);
    -webkit-filter: blur(2px); */
    /* filter: brightness(80%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 450px;
}

.section-1 > * {
    color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
    
}

.section-1 > h1 {
    font-size: 3em;
}
.section-1 > p {
    font-size: 1.5em;
    width: 60%;
    text-align: center;
}

.section-1 > a {
    text-decoration: none;
    background-color: #333;
    border: 1px solid #666;
    padding: 1em 2em;
    margin: 0.5em 0;
    font-size: 1.1em;

}

.section-2 {
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2a {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;;
}

.section2ab {
    width:30%;
    font-size: 1.4em;
}


.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    margin-top: 40px;
    background-color: #eaeaea;
    color: #333;
    width: 270px;
    text-align: center;
}

.card > img {
    
    height: 180px;
}
.card-title {
    font-size: 1.1em;
    padding: 1em 0;
}

.card-content > p {
    font-size: 1.1em;
    padding: 1.5em;
    line-height: 1.5;
}
